.c-news-featured {
  background: $white;
  border: 1px solid $tertiary;
  border-top: 5px solid $primary;
  font-size: 20px;
  flex: 48% 0;
  margin-right: 32px;
  padding: 12px 8px 8px;
  overflow: hidden;

  .slick-slider {
    height: 93%;
    .slick-arrow {
      display: none !important;
    }
  }

  &__box {
    position: relative;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    font-family: 'Oswald', sans-serif;
    padding: 16px;
    color: $white;
    
    h3 {
      margin: 0 0 8px;
      font-size: 1.8rem;
    }
    small {
      font-family: sans-serif;
      font-size: 0.9rem;
      overflow: auto;
      display: block;
      max-height: 24vw;
    }
  }
  &__image {
    background-image: url('http://i.imgur.com/I86rTVl.jpg');
    background-size: cover;
    display: flex;
    height: 32vw;
  }

  @media (max-width: $screen-md) {
    margin-right: 0;
    margin-bottom: 32px;
    overflow: visible;
    &__box {
      min-height: 350px;
      .featured-image {
        height: 37vh;
      }
    }
    &__image {
      height: 42vh;
    }
  }
  @media (max-width: $screen-sm) {
    &__title small {
      max-height: 26vh;
    }
  }
}