.c-news-featured {
  background: $white;
  border: 1px solid $tertiary;
  border-top: 5px solid $primary;
  font-size: 20px;
  flex: 50% 0;
  margin-right: 32px;
  padding: 12px 8px 8px;
  overflow: hidden;
  .slick-slider {
    height: 93%;
  }

  &__box {
    position: relative;
  }
  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    padding: 16px 16px 32px;
    color: $white;
  }
  &__image {
    background-image: url('http://i.imgur.com/I86rTVl.jpg');
    background-size: cover;
    display: flex;
    height: 32vw;
  }

  @media (max-width: $screen-md) {
    margin-right: 0;
    margin-bottom: 32px;
    overflow: visible;
    &__box {
      min-height: 350px;
      .featured-image {
        height: 37vh;
      }
    }
    &__image {
      height: 42vh;
    }
  }
}