.form-control {
  margin-bottom: 12px;
  input {
    padding: 10px;
    border: 1px solid $tertiary;
    border-radius: 3px;
    min-width: 320px;
    @media (max-width: $screen-sm) {
      min-width: 100%;
    }
  }
}

button, .btn {
  background: $darkcloud;
  border: 1px solid $tertiary;
  border-radius: 3px;
  cursor: pointer;
  padding: 9px 30px;
  text-decoration: none;
  color: $primary;
  &:hover {
    background: $cloud;
  }

  &.btn--small {
    padding: 3px 30px;
  }
  &.btn--link {
    background: transparent;
    border: 0 none;
    &:hover {
      text-decoration: underline;
    }
  }
}