* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.page {
  flex: 1;
  &__title {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    font-size: 45px;
  }
  &__ctas {
    text-align: right;
  }
}

.container {
  max-width: $container;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.app {
  height: 100%;

  &__main-nav {
    background: $primary;
    padding: 20px;
    border-bottom: 1px solid $tertiary;
    
    a {
      color: $white;
      border: 1px solid $white;
      border-radius: 4px;
      font-family: 'Oswald', sans-serif;
      font-size: 22px;
      padding: 5px;
      margin-right: 8px;
      text-decoration: none;
      text-align: center;
      min-width: 80px;
      transition: all 0.2s;
      
      &:hover {
        background: $white;
        color: $primary;
      }
    }
  }

  &__main-content {
    background: rgba(255, 255, 255, 0.95);
    border-top: 1px solid $tertiary;
    border-bottom: 1px solid $tertiary;
    color: $primary;
    padding: 50px 20px 80px;
    margin: 20px auto; 
  }
}