$containerWidth: 80rem;

$white: #fff;
$cloud: #edeeef;
$primary: #26142F;
$secondary: #72969D;
$tertiary: rgb(186, 191, 193);
$error: #C60000;
$success: #AACCB1;
$gold: #DCAD68;
$veneno: #834D6F;

$screen-xs: 425px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1024px;
$screen-xl: 1440px;

$container: $screen-lg;