.c-news {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__featured {
    border: 1px solid $tertiary;
    font-size: 20px;
    flex: 50% 0;
    margin-right: 32px;
  }
  &__list {
    border: 1px solid $tertiary;
    flex: 50% 0;
    padding: 8px;
  }
}